<!DOCTYPE html>
<html>
    <head>
        <title>Large Image Section</title>
        <link rel="stylesheet" href="../resources/pilot.css">
    </head>

    <body>

    <!-- cover pic -->

        <article id="cover">
            <section>
            </section>
        </article>

    <!-- summary pages -->
        
        <article style="page-break-before: always">
            <section>
                <h1>Interviewer Checklist</h1>
                <p>This report is designed to help you gain insights into the desired behavioral skills to be successful in the job role. It will assist the interviewer in developing an interview strategy that probes more deeply into on-the-job behaviors.</p>
                <h2>Before The Interview</h2>
                <div class="div-before-interview-container">
                    <div class="div-before-interview">
                        <h4>1</h4>
                        <p>Review job requirements, the candidate's resume and The EdMyst Behavioral Assessment</p>
                    </div>  
                    <div class="div-before-interview">
                        <h4>2</h4>
                        <p>Review the resume and screen the candidate to clarify skills and fit</p>
                    </div>  
                    <div class="div-before-interview">
                        <h4>3</h4>
                        <p>Review the interview questions and get an understanding of what to expect in the responses</p>
                    </div>    
                </div>
                <h2>Tips For the Interviewer</h2>
                <div class="image-interview-questions">
                    <img src="../resources/tips.jpg">
                </div>
                <h2>After The Interview</h2>
                <p>Review the job fitment recommended in the report, behavioral skills' scores, strengths and gaps, your notes, add detail, score responses and make a recommendation.</p>
                <div class="image-interview-questions">
                    <img src="../resources/after_interview_pic.jpg">
                </div>
            </section>
        </article>

    <!-- description of skills -->
        
        <article style="page-break-before: always">
            <section>
                <div>
                    <h2>Job Fit Measurement</h2>
                    <div>
                        <img src="../resources/placeholder_pic.jpg" alt="Picture" id="pic">
                    </div>
                </div>
                <div>
                    <h2>Graphical Summary</h2>
                    <div>
                        <img src="../resources/temp/baseline_assessment.jpg" alt="Picture" id="spider">
                    </div>
                </div>
                {% if number_top_skills > 0 %}
                    <h2  style="color:rgb(115, 171, 115);">Potential Strengths</h2>
                    {% for skill in list_top_skills %}
                        <div> 
                            <h4>{{ skill }}</h4>
                            <p>{{ report_text['Top']['Skills Text'][skill]['Summary'] }}<p>
                            <ul>
                            {% for detail in report_text['Top']['Skills Text'][skill]['Details'] %}
                                <li>{{ detail }}</li>
                            {% endfor %}
                            </ul>
                        </div>
                    {% endfor %}
                {% endif %}
                {% if number_bottom_skills > 0 %}
                    <h2 style="color:darksalmon">Developmental Considerations</h2>
                    {% for skill in list_bottom_skills %}
                        <div> 
                            <h4>{{ skill }}</h4>
                            <p>{{ report_text['Bottom']['Skills Text'][skill]['Summary'] }}<p>
                            <ul>
                            {% for detail in report_text['Bottom']['Skills Text'][skill]['Details'] %}
                                <li>{{ detail }}</li>
                            {% endfor %}
                            </ul>
                        </div>
                    {% endfor %}
                {% endif %}
            </section>
        </article>
   
    <!-- skill assessments - positive -->
        {% if number_top_skills > 0 %}
            {% for skill in list_top_skills %}
                <article style="page-break-before: always">
                    <section>
                        <h2>Interview Questions - Strength Analysis</h2>
                        <div class="top-header-skills">
                            <div>
                                <h4 style="color:rgb(115, 171, 115);">{{ skill }} : High</h4>
                            </div>
                            <div>
                                <img src="../resources/temp/{{ skill }}.jpeg" alt="Picture">
                            </div>
                        </div>
                        <div>
                            <ul>
                            {% for questions in report_text['Top']['Interview Questions'][skill] %}
                                <li>{{ questions['Initial'] }}</li>
                                <p style="font-weight : bold">Probing Questions</p>
                                    <ul>
                                    {% for detailed_question in questions['Details'] %}
                                        <li>{{ detailed_question }}</li>
                                    {% endfor %}
                                    <br>
                                    </ul>
                            {% endfor %}
                            </ul>
                        </div>
                        <div class="image-score-ticker">
                            <img src="../resources/score.jpg" alt="Picture">
                        </div>
                    </section>
                </article> 
            {% endfor %}
        {% endif %}

    <!-- skill assessments - negative -->
        {% if number_bottom_skills > 0 %}
            {% for skill in list_bottom_skills %}
                <article style="page-break-before: always">
                    <section>
                        <h2>Interview Questions - Development Gap Analysis</h2>
                        <div class="top-header-skills">
                            <div>
                                <h4 style="color:darksalmon">{{ skill }} : Low</h4>
                            </div>
                            <div>
                                <img src="../resources/temp/{{ skill }}.jpeg" alt="Picture">
                            </div>
                        </div>
                        <div>
                            <ul>
                                {% for questions in report_text['Bottom']['Interview Questions'][skill] %}
                                <li>{{ questions['Initial'] }}</li>
                                <p style="font-weight : bold">Probing Questions</p>
                                    <ul>
                                    {% for detailed_question in questions['Details'] %}
                                        <li>{{ detailed_question }}</li>
                                    {% endfor %}
                                    <br>
                                    </ul>
                            {% endfor %}
                            </ul>
                        </div>
                        <div class="image-score-ticker">
                            <img src="../resources/score.jpg" alt="Picture">
                        </div>
                    </section>
                </article> 
            {% endfor %}
        {% endif %}

    <!-- Next Steps -->

        <article style="page-break-before: always">
            <section>
                <h2>Next Steps</h2>
                <h4>Overall Job Match</h4>
                <br>
                <div class="image-score-ticker">
                    <img src="../resources/score.jpg" alt="Picture">
                </div>
                <br>
                <h4>Action Steps</h4>
                <div>
                    <p>____________________________________________________________________________________</p>
                    <p>____________________________________________________________________________________</p>
                    <p>____________________________________________________________________________________</p>
                    <p>____________________________________________________________________________________</p>
                    <p>____________________________________________________________________________________</p>
                    <p>____________________________________________________________________________________</p>
                    <p>____________________________________________________________________________________</p>
                    <p>____________________________________________________________________________________</p>
                </div>
                <br>
                <h4>Comments</h4>
                <div>
                    <p>____________________________________________________________________________________</p>
                    <p>____________________________________________________________________________________</p>
                    <p>____________________________________________________________________________________</p>
                    <p>____________________________________________________________________________________</p>
                    <p>____________________________________________________________________________________</p>
                    <p>____________________________________________________________________________________</p>
                    <p>____________________________________________________________________________________</p>
                    <p>____________________________________________________________________________________</p>
                </div>
            </section>
        </article>

    <!-- Disclaimer & Copyright -->

        <article style="page-break-before: always">
            <section>
                <h3 style="text-align: center; text-decoration: underline; font-weight: bold;">Disclaimer and Copyright</h3>
                <br>
                <h4 style="font-weight: bold;">Disclaimer</h4>
                <p>This report is a property of {{ company }} and the information provided in the report is to be used only by the individual or entity to which it is addressed, else you are hereby notified that any dissemination, distribution or copying of this communication is strictly prohibited. The interpretive information contained in this report should be viewed as only one source of hypotheses about the individual/ group being evaluated. No decisions should be based solely on the information contained in this report. Any interpretation of this report should take into account ALL relevant input such as actual experience, skills, interests, abilities, the market being addressed and product being sold. This material should be integrated with all other sources of information in reaching professional decisions about this individual. This report is confidential and intended for use by qualified professionals only. </p>
                <br>
                <h4 style="font-weight: bold;">Intellectual Property</h4>
                <p>The Content and Services of {{ company }}, as well as their selection and arrangement, are protected by copyright, trademark, patent, and/or other intellectual property laws, and any unauthorized use of the Content or Services may violate such laws and these Terms of Use. Except as expressly implied in these Terms of Use, {{ company }} does not grant any express rights to use the Content and/or Services. You have agreed not to copy, republish, frame, download, transmit, modify, rent, lease, loan, sell, assign, distribute, license, sublicense, reverse engineer, or create derivative works based on the Site, its Content, or its Services or their selection and arrangement, except as expressly authorized in these Terms of Use. In addition, you have agreed not to use any data mining, robots, or similar data gathering and extraction methods in connection with the {{ company }} database.</p>
            </section>
        </article>

    </body>
</html>